.input-gap{
    gap: 8rem;
}

.input-container input{
    width: 20rem;
}

.input-container select{
    width: 20rem;
}

.input-container-time input{
    width: 10.5rem;
}

.textarea{
    width: 48rem;
    height: 100px !important;
}


@media (max-width: 768px) {

    .input-gap{
        flex-direction: column;
        padding: 0.5rem 2rem;
        align-items: center;
        gap: 1rem;
    }

    .input-container{
        width: 80%;
    }

    .input-container input{
        width: 100%;
    }

    .input-container select{
        width: 100%;
    }

    .input-container-time{
        width: 80%;
    }

    .input-container-time input{
        width: 100%;
    }

    .textarea-container{
        width: 100%;
    }

    .textarea{
        width: 26rem;
    }
}

@media (max-width: 480px) {

    .input-container{
        width: 95%;
    }

    .input-container-time{
        width: 95%;
    }

    .textarea{
        width: 18rem;
    }
}