.navbar-logo{
    width: 50px;
    margin: 0;
}

.navbar-logo img{
    width: 100%;
}

.nav{
    background-color: #16325c !important;
}

.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link{
    color: white !important;
}

.nav-logout{
    color: white !important;
    margin-bottom: 0;
}

.nav-logout:hover{
    color: #f5f5f5 !important;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .navbar-cont{
        flex-direction: column;
    }
    
}